.card-container {
  height: auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: var(--padding-S);
  align-items: center;
}

.card-name {
  font-size: var(--heading-M);
  text-align: center;
}
