.card-container {
  flex-basis: 0;
  flex-grow: 1;
  height: auto;
  max-width: 350px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  gap: var(--padding-S);
  align-items: center;
}

.card-name {
  font-size: var(--heading-M);
  text-align: center;
}

.card-image-container {
  position: relative;
}

.card-image-container .card-image-back {
  position: absolute;
}

.card-image-back {
  transition: transform 0.2s ease-in-out;
}

.card-image-back:hover {
  cursor: pointer;
  transform: translateY(-5%);
}

.card-empty {
  width: 100%;
  aspect-ratio: var(--card-aspect-ratio);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.card-empty::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-inactive-text);
  opacity: 0.5;
}

.loading-spinner {
  position: absolute;
  width: var(--spinner-M);
  height: var(--spinner-M);
  border: var(--spinner-thick-M) solid var(--pokemon-logo-blue);
  border-top: var(--spinner-thick-M) solid var(--pokemon-logo-yellow);
  border-radius: 50%;
  top: calc(50% - var(--spinner-M) / 2);
  left: calc(50% - var(--spinner-M) / 2);
  animation: spin 1s linear infinite;
}

@media (max-width: 600px) {
  .card-name {
    font-size: var(--heading-S);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
