.card-container {
  height: auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: var(--padding-S);
  align-items: center;
}

.card-name {
  font-size: var(--heading-M);
  text-align: center;
}

.card-image-container {
  position: relative;
}

.card-image-container .card-image-back {
  position: absolute;
}

.card-image-back {
  transition: transform 0.2s ease-in-out;
}

.card-image-back:hover {
  cursor: pointer;
  transform: translateY(-5%);
}

@media (max-width: 600px) {
  .card-name {
    font-size: var(--heading-S);
  }
}
