.footer {
  background-color: var(--header-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-S);
}

.footer-image-container {
  max-width: 500px;
  min-width: 300px;
}

.footer-content {
  display: flex;
  width: 100%;
}

.footer-links {
  flex-grow: 1;
}

.footer-subscribe {
  max-width: 500px;
}