.header-container {
  background-color: var(--header-bg);
  display: flex;
  justify-content: center;
}

.body-header {
  flex-grow: 1;
  display: flex;
  background-color: var(--header-bg);
  justify-content: space-between;
  padding: var(--padding-S);
  max-width: var(--width-threshold);
}

.header-logo-container {
  min-width: 150px;
  max-width: 250px;
}

.header-logo {
  transform: scale(1);
  transition: transform 0.3s ease;
}

.header-logo:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

.link-header-navigation {
  font-size: var(--heading-M);
  color: inherit;
}

.link-header-navigation:hover {
  color: var(--color-text-primary);
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: var(--padding-M);
  color: var(--color-inactive-text);
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .body-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .link-header-navigation {
    font-size: var(--heading-S);
  }

  .header-navigation {
    gap: 15px;
    padding: var(--padding-S);
  }
}