.hero-container {
  flex-grow: 1;
  max-height: 650px;
  background-image: url(./../assets/images/pokemon-grass-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 var(--padding-S);
}

.hero-header {
  font-size: var(--heading-L);
  padding: var(--padding-M);
  text-align: center;
}

.hero-content {
  max-width: var(--width-max-content);
  position: relative;
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.pokemon-animal-container-right,
.pokemon-animal-container-left {
  position: absolute;
  bottom: 20px;
}

.pokemon-animal-container-right {
  left: 10px;
}

.pokemon-animal-container-left {
  right: 10px;
}

.pokemon-animal-right,
.pokemon-animal-left {
  width: 70px;
  height: 70px;
}

.cards-container {
  max-width: var(--hero-content-max-width);
  width: 100%;
  display: flex;
  gap: var(--padding-L);
  padding: 0 0 var(--padding-XL) 0;
  overflow: hidden;
}

@media (max-width: 600px) {
  .hero-header {
    font-size: var(--padding-M);
  }
}
