@font-face {
  font-family: "My-Pokemon-Font";
  src: url("./../assets/fonts/goldman/Goldman-Regular.woff2") format("woff2");
}

:root {
  --heading-XL: 32px;
  --heading-L: 26px;
  --heading-M: 22px;
  --heading-S: 20px;

  --font-base: 16px;
  --font-secondary-base: 14px;
  --font-S: 12px;
  --font-XS: 10px;

  --color-text-special: #F7E950;
  --color-text-primary: #E8E8ED;
  --color-text-secondary: #8888a0;
  --color-inactive-text: #606067;

  --header-bg: #232325;
  --body-bg: #2C2C30;
  --pagination-yellow: #F2EA97;
  --card-item-bg: #1E1E1E;
  --disabled-btn: #4A4A4F;
  --inactive-btn: #606067;
  --active-btn: #8D8D96;
  --element-border-base: #8D8D96;
  --element-border-active: #E8E8ED;

  --padding-S: 10px;
  --padding-M: 20px;
  --padding-L: 30px;
  --padding-XL: 40px;

  --border-radius-S: 5px;
  --border-radius-M: 10px;

  --width-threshold: 1440px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--body-bg);
  font-family: "My-Pokemon-Font", Arial, Helvetica, sans-serif;
}

.link {
  text-decoration: none;
}