@font-face {
  font-family: "My-Pokemon-Font";
  src: url("./../assets/fonts/goldman/Goldman-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "My-Pokemon-Handwrite";
  src: url(./../assets/fonts/indie-flower/IndieFlower-Regular.woff2)
    format("woff2");
}

:root {
  --heading-XL: 32px;
  --heading-L: 26px;
  --heading-M: 22px;
  --heading-S: 20px;

  --font-base: 16px;
  --font-secondary-base: 14px;
  --font-S: 12px;
  --font-XS: 10px;

  --color-text-special: #f7e950;
  --color-text-primary: #e8e8ed;
  --color-text-secondary: #8888a0;
  --color-inactive-text: #606067;

  --header-bg: #232325;
  --body-bg: #2c2c30;
  --pagination-yellow: #f2ea97;
  --card-item-bg: #1e1e1e;
  --disabled-btn: #4a4a4f;
  --inactive-btn: #606067;
  --active-btn: #8d8d96;
  --element-border-base: #8d8d96;
  --element-border-active: #e8e8ed;

  --pokemon-logo-blue: #3d7dca;
  --pokemon-logo-yellow: #ffcb05;

  --padding-S: 10px;
  --padding-M: 20px;
  --padding-L: 30px;
  --padding-XL: 40px;

  --padding-welcome-L: 100px;
  --padding-welcome-M: 50px;
  --padding-welcome-S: 25px;

  --border-radius-S: 5px;
  --border-radius-M: 10px;

  --width-threshold: 1440px;
  --width-max-content: 1300px;
  --hero-content-max-width: 1000px;

  --card-aspect-ratio: 420 / 590;

  --spinner-S: 30px;
  --spinner-M: 80px;
  --spinner-L: 100px;

  --spinner-thick-S: 5px;
  --spinner-thick-M: 10px;
  --spinner-thick-L: 15px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--padding-L);
}

body {
  background-color: var(--body-bg);
  font-family: "My-Pokemon-Font", Arial, Helvetica, sans-serif;
}

.link {
  text-decoration: none;
}
