.pokeball {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokeball-img-container {
  max-width: 350px;
}

.pokeball-rules.visible {
  border: 5px solid var(--color-text-special);
  padding: var(--padding-L) 0;
  max-height: 700px;
}

.pokeball-rules {
  border-radius: 25px;
  max-width: var(--width-max-content);
  width: 100%;
  max-height: 0;
  padding: 0;
  border: 0px solid red;
  overflow: hidden;
  transition:
    max-height 0.4s ease-in-out,
    padding 0.3s linear,
    border 0.5s linear;
}

.rules-section {
  max-width: 600px;
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--padding-M);
}

.rules-heading-primary,
.rules-heading-secondary {
  color: var(--color-text-special);
}

.rules-heading-primary {
  font-size: var(--heading-M);
}

.rules-heading-secondary {
  font-size: var(--heading-S);
  margin-bottom: var(--padding-S);
}

.rules-paragraph {
  color: var(--color-text-primary);
  font-size: var(--font-base);
}

.pokeball-img-container img:hover {
  cursor: pointer;
}
