.pokeball {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokeball-img-container {
  max-width: 350px;
}

.pokeball-rules.visible {
  border: 5px solid var(--color-text-special);
  padding: var(--padding-L) var(--padding-S);
  max-height: 700px;
}

.pokeball-rules {
  display: flex;
  border-radius: 25px;
  max-width: var(--width-max-content);
  width: 100%;
  max-height: 0;
  padding: 0;
  border: 0px solid red;
  overflow: hidden;
  transition:
    max-height 0.4s ease-in-out,
    padding 0.3s linear,
    border 0.5s linear;
}

.rules-section {
  max-width: 600px;
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--padding-M);
  order: 2;
}

.rules-heading-primary,
.rules-heading-secondary {
  color: var(--color-text-special);
}

.rules-heading-primary {
  font-size: var(--heading-M);
}

.rules-heading-secondary {
  font-size: var(--heading-S);
  margin-bottom: var(--padding-S);
}

.rules-paragraph {
  color: var(--color-text-primary);
  font-size: var(--font-base);
}

.pokeball-img-container img:hover {
  cursor: pointer;
}

.pr-pokemons-small-device {
  display: none;
}

.pr-pokemon,
.pr-pokemon-alternate {
  display: flex;
  max-width: 150px;
  min-width: 150px;
  flex: 1;
}

.pr-pokemon img,
.pr-pokemon-alternate img {
  width: 100%;
}

.pr-pokemon:nth-of-type(1) {
  align-items: flex-end;
  order: 1;
}

.pr-pokemon:nth-of-type(2) {
  align-items: flex-start;
  order: 3;
}

@media (max-width: 768px) {
  .pokeball-rules {
    flex-direction: column;
  }

  .pokeball-rules.visible {
    max-height: 1000px;
  }

  .rules-section {
    order: 1;
  }

  .pr-pokemon {
    display: none;
  }

  .pr-pokemons-small-device {
    display: block;
    order: 2;
    display: flex;
    justify-content: space-evenly;
  }
}
