.main-body-shop {
  display: flex;
  flex-direction: column;
  gap: var(--padding-L);
  max-width: var(--width-max-content);
  width: 100%;
}

.main-shop {
  display: flex;
  gap: var(--padding-L);
}

@media (max-width: 768px) {
  .main-shop {
    flex-direction: column;
  }
}