.sidebar {
  max-width: 300px;
  flex: 1;
}

.filter-summary {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clear-btn {
  font-family: inherit;
  border: none;
  background-color: transparent;
}

.clear-btn,
.summary-info {
  color: var(--color-inactive-text);
  font-size: var(--font-XS);
}

.clear-btn:hover {
  cursor: pointer;
  color: var(--color-text-primary);
}

.sidebar-filters {
  padding-top: var(--padding-S);
  display: flex;
  flex-direction: column;
  gap: var(--padding-S);
}

.filter-btn,
.option {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--padding-S);
  font-family: inherit;
  font-size: var(--font-base);
  background-color: var(--header-bg);
  color: var(--color-text-primary);
  align-items: center;
}

.filter-btn {
  border: 1px solid var(--color-inactive-text);
  border-radius: 10px;
}

.option {
  border: none;
}

.option:hover {
  cursor: pointer;
  background-color: var(--active-btn-low-opacity);
}

.active-drop {
  background-color: var(--color-btn-special-low-opacity);
  color: var(--color-text-special);
}

.filter-btn:hover {
  cursor: pointer;
  border: 1px solid var(--active-btn);
}

.filter-btn svg {
  transition: transform 0.2s ease-in-out;
}

.active {
  border: 1px solid var(--color-text-special);
  color: var(--color-text-special);
}

.active svg {
  transform: rotate(180deg);
}

.options-container {
  position: relative;
}

.options {
  background-color: var(--header-bg);
  position: absolute;
  display: flex;
  flex-direction: column;
  max-height: 0px;
  width: 100%;
  overflow: auto;
  transition: max-height 0.2s ease-in-out;
}

.options.visible {
  max-height: 300px;
  border: 1px solid var(--inactive-btn);
  border-radius: var(--border-radius-S);
}

.loading-container {
  position: relative;
}

.loading {
  position: absolute;
  width: 100%;
  background-color: var(--header-bg);
  display: flex;
  justify-content: center;
  gap: var(--padding-S);
  height: 0px;
  overflow: hidden;
  align-items: center;
  border-radius: 10px;
  transition: height 0.1s ease-in-out;
}

.loading.visible {
  border: 1px solid var(--inactive-btn);
  height: 100px;
}

.dot {
  background-color: var(--color-text-secondary);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: colorChange 1s ease-in-out infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes colorChange {
  0% {
    background-color: var(--color-text-secondary);
  }

  30% {
    background-color: var(--color-text-primary);
  }

  60% {
    background-color: var(--color-text-special);
  }
}
