.sidebar {
  max-width: 300px;
}

.filter-summary {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clear-btn {
  font-family: inherit;
  border: none;
  background-color: transparent;
}

.clear-btn,
.summary-info {
  color: var(--color-inactive-text);
  font-size: var(--font-XS);
}

.clear-btn:hover {
  cursor: pointer;
  color: var(--color-text-primary);
}

.sidebar-filters {
  padding-top: var(--padding-S);
  display: flex;
  flex-direction: column;
  gap: var(--padding-S);
}

.filter-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--padding-S);
  font-family: inherit;
  font-size: var(--font-base);
  border: 1px solid var(--color-inactive-text);
  background-color: var(--header-bg);
  border-radius: 10px;
  color: var(--color-text-primary);
  align-items: center;
}

.filter-btn:hover {
  cursor: pointer;
  border: 1px solid var(--active-btn);
}

.filter-btn svg {
  transition: transform 0.2s ease-in-out;
}

.active {
  border: 1px solid var(--color-text-special);
  color: var(--color-text-special);
}

.active svg {
  transform: rotate(180deg);
}

.relative {
  position: relative;
}
